@import "../../../../styles/variables.module";

.wordsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: .54em;
  
  position: relative;
  
  
  .chibikWrapper {
    position: absolute;
    bottom: 0;
    
    width: .25138em;
    height: .24444em;
  }
}
