@import '../../../public/fonts/DrukCyr/stylesheet.css';
@import '../../../public/fonts/InputSans/stylesheet.css';
@import 'normalize.css';
@import 'variables.module';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, html {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  font-size: min(100vw, 1920px); //max(100vw, 450px);
  font-family: $FONT_INPUTSANS;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

a, button {
  cursor: pointer;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
  
  position: relative;
  z-index: 1;
  
  padding: max(40px, .03472em) max(15px, .07222em);
}

@media (max-width: 575px) {

}

