@import '../../../public/fonts/DrukCyr/stylesheet.css';
@import '../../../public/fonts/InputSans/stylesheet.css';
@import 'normalize.css';
@import 'variables.module';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, html {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  font-size: 100vw; //max(100vw, 450px);
  font-family: $FONT_INPUTSANS;
  background-color: $COLOR_BLACK;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

a, button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: .00416em;
  height: .00416em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($COLOR_WHITE, .5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $COLOR_WHITE;
}

@media (max-width: 575px) {

}

