$COLOR_BLACK: #000;
$COLOR_BLACK_40: rgba(0, 0, 0, 0.40);
$COLOR_BLACK_50: rgba(0, 0, 0, 0.50);
$COLOR_WHITE: #fff;

$FONTSIZE_104: max(.07222em);
$FONTSIZE_22: max(.01527em);
$FONTSIZE_16: max(.01111em);


$FONT_DRUK: 'Druk Cyr', sans-serif;
$FONT_INPUTSANS: 'InputSansCompressed', sans-serif;
