@import '../../../styles/variables.module';

.cardsContainer {
  grid-column: 2;
  grid-row: 1/span 2;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .04166em;
  
  overflow-x: auto;
  padding-bottom: .00694em;
}
