@import "../../../../styles/variables.module";

.wrapper {
  
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;
    background: transparent;
    backdrop-filter: blur(0px);
    transition: all 1s ease-in-out;
  }
}

.wrapperShadow {
  &:before {
    content: "";
    background: $COLOR_BLACK_50;
    backdrop-filter: blur(2px);
    z-index: 0;
  }
}

.content {
  display: grid;
  grid-template-columns: .4375em .3361em;
  gap: .02638em .06458em;
}

.description {
  grid-column: 2;
  
  border: 2px solid $COLOR_WHITE;
  background: $COLOR_BLACK_40;
  box-shadow: -4px 4px 4px 0 $COLOR_BLACK_50;
  padding: min(.0225em, 50px);
  
  h3, p {
    color: $COLOR_WHITE;
    text-transform: uppercase;
  }
  
  h3 {
    font-family: $FONT_DRUK;
    font-size: $FONTSIZE_84;
    font-weight: 900;
    line-height: 92%;
    letter-spacing: .02em;
  }
  
  p {
    margin-top: 1.2em;
  }
}

.mainTitle {
  grid-column: 1;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  p, h1, h6 {
    color: $COLOR_WHITE;
    font-family: $FONT_DRUK;
    font-weight: 1000;
    text-transform: uppercase;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    p {
      font-size: $FONTSIZE_220;
    }
    
    h1 {
      font-size: $FONTSIZE_104;
      line-height: 81%;
      letter-spacing: .02em;
      margin-top: .09523em;
    }
  }
  
  h6 {
    font-size: $FONTSIZE_35;
    letter-spacing: .08em;
    margin-top: -.71428em;
  }
}

.timer {
  grid-column: 2;
  grid-row: 2;
}

.block {
  position: absolute;
  border: 2px solid $COLOR_WHITE;
  background: $COLOR_BLACK_40;
  width: 57%;
  display: grid;
  padding: .025em .0798em;
  overflow: hidden;
  
  &:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("/images/backgrounds/assassin.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .title {
    text-align: center;
  }
  
  .buttonGo {
    font-weight: 400;
    color: $COLOR_WHITE;
    font-family: $FONT_INPUTSANS;
    text-transform: uppercase;
    font-size: $FONTSIZE_22;
    margin: 1.136em auto 0;
    background-color: $COLOR_BLACK;
    border: 1px solid $COLOR_WHITE;
    height: 2.2727em;
    width: 6.318em;
    border-radius: 0;
    transition: all .3s ease;
    
    &:hover {
      background-color: $COLOR_WHITE;
      border-color: $COLOR_WHITE !important;
      color: $COLOR_BLACK !important;
    }
  }
}
