@import '../../../../styles/variables.module';

.container {
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  align-items: center;
  justify-items: center;
}

.senshi {
  position: absolute;
  width: .41319em;
  height: .5875em;
  left: 32%;
  top: 10%;
}

.description {
  h5 {
    font-family: $FONT_DRUK;
    font-size: $FONTSIZE_48;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 104%;
    letter-spacing: .02em;
    color: $COLOR_BLACK;
    width: 6.5em;
    
    margin-left: .6666em;
    margin-bottom: -.375em;
    position: relative;
    z-index: 1;
    padding: .75em;
    border: 2px solid $COLOR_BLACK;
    background: $COLOR_WHITE;
    box-shadow: -4px 4px 4px 0px $COLOR_BLACK_50;
    
    span {
      color: $COLOR_GREEN;
    }
  }
  
  p {
    border: 1px solid $COLOR_WHITE;
    background: $COLOR_BLACK_60;
    box-shadow: -4px 4px 4px 0px $COLOR_BLACK_50;
    backdrop-filter: blur(5px);
    
    margin-top: 0;
    padding: 2.25em;
  }
}

