@import '../../../styles/variables.module';

.wrapper:before {
  min-height: 17%;
}

.wrapperButton:not(:first-child) {
  &:before {
    min-height: 72%;
  }
}

.wrapper, .wrapperButton {
  min-width: .28194em;
  min-height: .40833em;
  position: relative;
  padding: .01041em .0069em .0118em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $COLOR_WHITE;
  
  &:before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: $COLOR_WHITE;
    left: -.02083em;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.wrapperButton {
  background-color: transparent;
}

.wrapperButtonExpand {
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $COLOR_BLACK_50;
    backdrop-filter: blur(5px);
  }
}

.clickText, .description, .subTitle {
  font-family: $FONT_INPUTSANS;
}

.upText, .titleUp, .titleBottom {
  font-family: $FONT_DRUK;
}

.clickText, .clickTextExpand {
  font-size: $FONTSIZE_14;
  font-weight: 500;
  position: relative;
  
  .triangle {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: .7142em solid;
    border-left: .3571em solid transparent;
    border-right: .3571em solid transparent;
  }
}

.clickTextExpand {
  color: $COLOR_WHITE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
  .triangle {
    top: calc(100% + .357em);
  }
}

.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  .logo {
    position: relative;
    margin-right: .0034em;
  }
  
  .text {
    font-family: $FONT_DRUK;
    font-size: $FONTSIZE_20;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upText {
  font-size: $FONTSIZE_42;
  line-height: 83%;
  font-weight: 500;
}

.subTitle {
  font-size: $FONTSIZE_14;
  line-height: 85%;
  font-weight: 500;
  color: $COLOR_WHITE;
  margin-top: .8571em;
}

.titles {
  display: grid;
  grid-template-columns: 1f;
  place-items: center;
}

.titlesExtra {
  display: grid;
  grid-template-columns: 1fr 3fr;
  
  .titleUp {
    justify-self: flex-start;
  }
  
  .titleLeft {
    font-size: $FONTSIZE_182;
    font-family: $FONT_DRUK;
    font-weight: 500;
    line-height: 83%;
    text-transform: uppercase;
    
    grid-column: 1;
    grid-row: 1 / span 2;
  }
}

.titleUp, .titleBottom {
  font-weight: 500;
  line-height: 84%;
}

.titleUp {
  margin-top: .5rem;
}

.description {
  font-size: $FONTSIZE_14;
  font-weight: 500;
  line-height: 121%;
  letter-spacing: -.06em;
  margin: 1.17em auto 0;
  width: 88%;
  min-height: 3.64em;
}




