.word0 {
  //transform: rotate(15deg);
  ////width: 5em;
  top: 5%;
  left: 21%;
}

.word1 {
  //transform: rotate(45deg);
  //width: 9.44em;
  left: 34%;
  top: 16%;
}

.word2 {
  left: 52%;
  top: 12%;
  //width: 7em;
}

.word3 {
  //transform: rotate(30deg);
  //width: 8em;
  left: 12%;
  top: 19%;
}

.word4 {
  //transform: rotate(-30deg);
  //width: 8em;
  left: 57%;
  top: 24%;
}

.word5 {
  //width: 8em;
  left: 44%;
  top: 35%;
}

.word6 {
  //transform: rotate(-45deg);
  //width: 10.4em;
  left: 5%;
  top: 42%;
}

.word7 {
  //transform: rotate(-60deg);
  left: 21%;
  top: 47%;
}

.word8 {
  //transform: rotate(15deg);
  left: 7%;
  top: 60%;
  //width: 8em;
}

.word9 {
  top: 72%;
  left: 15%;
}

.word10 {
  //transform: rotate(-45deg);
  //width: 6.72em;
  top: 56%;
  left: 28%;
}

.word11 {
  //transform: rotate(-15deg);
  //width: 6.72em;
  left: 44%;
  top: 44%;
}

.word12 {
  //transform: rotate(-60deg);
  //width: 7em;
  left: 62%;
  top: 41%;
}

.word13 {
  //transform: rotate(60deg);
  //width: 10.4em;
  left: 69%;
  top: 36%;
}

.word14 {
  //transform: rotate(30deg);
  left: 75%;
  top: 54%;
}

.word15 {
  //transform: rotate(45deg);
  //width: 6.7em;
  top: 62%;
  left: 66%;
}

.word16 {
  //width: 6.5em;
  top: 63%;
  left: 87%;
}

.word17 {
  //transform: rotate(-90deg);
  top: 32%;
  left: 31%;
}
