@import '../../../styles/variables.module';

.word {
  color: $COLOR_WHITE;
  text-align: center;
  font-family: $FONT_INPUTSANS;
  font-size: $FONTSIZE_25;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -.08em;
  
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 5em;
}



